@model StudentCourseVM

<h3>
    Are you sure you want to register student @Model!.Student!.FirstName @Model!.Student!.LastName
    for course @Model!.Course!.Code?
</h3>


<form asp-action="Create" id="formCreateStudentCourse">
    <input type="hidden" name="ENumber" value="@Model.Student.ENumber" />
    <input type="hidden" name="courseId" value="@Model.Course.Id" />
    <input type="submit" value="Register" class="btn btn-danger" /> |
    <a asp-action="Register" asp-controller="Course"
       asp-route-id="@Model!.Student!.ENumber">Don't Register</a>
</form>

@section Scripts{
    <script defer src="~/js/studentCourseCreate.js"></script>
}

